@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

.intro
{
    background: url("../imgs/360_F_68983998_8GDBFUk2UMgoZ974LCkXB2SEHSiw6Va5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    color: white;
}

.container.first
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}

.title
{
    font-size: 145px;
    letter-spacing: 11px;
}

.text
{
    font-size: 20px;
    letter-spacing: 9px;
}

.us
{
    background-color: #F1F1F1;
    padding-top: 60px;
    padding-bottom: 60px;
}

.brief
{
    font-size: 25px;
    width: 550px;
    height: 100%;
    display: flex;
    align-items: center;
}

.our-team
{
    padding: 40px;
}

.team
{
    display: flex;
    justify-content: center;
    font-size: 50px;
}


.names
{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
}

#home
{
    color: white;
    position: absolute;
    top: 40px;
    right: 60px;
    font-size: larger;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

#home:hover
{
    color: #4889F4;
}

#facebook
{
    transition: 0.3s;
}

#insta
{
    transition: 0.3s;
}

#google
{
    transition: 0.3s;
}

#facebook:hover
{
    color: #0866FF;
}

#insta:hover
{
    color: #E00DE5;
}

#google:hover
{
    color: #C5221F;
}

.fade-up {
    opacity: 0;
    transform: translateY(10%);
    transition: translateY(10%);
    transition: opacity 1s ease-in, transform 700ms ease-in , transition 700ms ease-in;
}
.fade-up.appear {
    opacity: 1;
    transform: translateY(0);
    transition: translateY(0);
}
  
.fade-down {
    opacity: 0;
    transform: translateY(-10%);
    transition: translateY(-10%);
    transition: opacity 1s ease-in, transform 700ms ease-in, transition 700ms ease-in;
}
  
.fade-down.appear {
    opacity: 1;
    transform: translateY(0);
    transition: translateY(0);
}
  
.fade-left {
    opacity: 0;
    transform: translateX(-10%);
    transition: translateX(-10%);
    transition: opacity 1s ease-in, transform 700ms ease-in, transition 700ms ease-in;
}

.fade-left.appear {
    transform: translateX(0);
    transition: translateX(0);
    opacity: 1;
}
  
.fade-right {
    opacity: 0;
    transform: translateX(10%);
    transition: translateX(10%);
    transition: opacity 1s ease-in, transform 700ms ease-in, transition 700ms ease-in ;
}

.fade-right.appear {
    transform: translateX(0);
    transition: translateX(0);
    opacity: 1;
}

.fade-in{
    opacity: 0;
    transition: opacity 1.2s ease-in;
}

.fade-in.appear{
    opacity: 1;
}
