@media screen and (max-width: 480px) 
{
    .title
    {
        font-size: 70px;
    }

    .text
    {
        font-size: 24px;
        letter-spacing: 5px;
    }

    #pic
    {
        width: 380px;
    }

    .brief
    {
        width: 380px;
        margin-top: 20px;
    }

}