@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

.intro
{
    background: url("../imgs/360_F_68983998_8GDBFUk2UMgoZ974LCkXB2SEHSiw6Va5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    color: white;
}

.container.first
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}

.title
{
    font-size: 145px;
    letter-spacing: 11px;
}

.text
{
    font-size: 20px;
    letter-spacing: 9px;
}

#home
{
    color: white;
    position: absolute;
    top: 40px;
    right: 60px;
    font-size: larger;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

#home:hover
{
    color: #4889F4;
}